@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
}
.containerLogin {
  font-family: "poppins";
  display: block;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

.left {
  float: left;
  width: 50vw;
  display: block;
  overflow: auto;
}

/* .btn{
    float: right;
} */

.left button {
  float: right;
  border: none;
  color: white;
  background-color: #105c8c;
}

.left a button {
  width: 120px;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 100px;
  margin-left: 30px;
}

.container1 {
  /* border: 1px solid; */
  width: 500px;
  padding: auto;
}

.container1 p {
  text-align: center;
  margin-left: 20px;
  margin-bottom: 50px;
}

.container1 label {
  font-weight: bolder;
  font-size: 26px;
}

.container1 input {
  border: none;
  width: 500px;
  height: 50px;
  border-bottom: 1px solid;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 20px;
}
.text1 {
  /* border: 1px solid; */
  margin-top: 50px;
  font-weight: bolder;
  font-size: 30px;
}

.text2 {
  /* border: 1px solid; */
  margin-top: 80px;
  width: 560px;
  font-weight: 500;
  font-size: 27px;
}

.left .container1 .start {
  width: 300px;
  font-size: 20px;
  font-weight: bolder;
  padding: 15px 45px;
  border-radius: 10px;
  /* display: block; */
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
}

.right {
  background-color: #105c8c;
  float: right;
  width: 600px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.right img {
  display: block;
}
