@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* .container {
  margin: 0 30px;
  display: block;
  padding: 0 100px;
  overflow: auto;
} */





.containerForm .form {
  font-family: "poppins";
  margin-top: 0 auto;
  width: 350px;
  float: right;
}

.containerForm .form .text1 {
  font-weight: bolder;
  font-size: 35px;
  margin-bottom: -10px;
  color: black;
}

.containerForm .form .text2 {
  font-size: 18px;
  margin: 0px;
  color: black;
}

.containerForm .form label {
  font-size: 15px;
}

.containerForm .form input {
  border: 1px solid black;
  width: 350px;
  height: 38px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid;
}

.containerForm .form input[type="text"],
.containerForm .form input[type="password"],
.containerForm .form input[type="number"] {
  font-size: 16px;
  padding: 0 10px;
}

.containerForm .form input[type="submit"] {
  width: 300px;
  color: white;
  background:  #105c8c;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  font-size: 18px;
  cursor: pointer;
}

.containerForm .form input[type="submit"]:hover {
  background: #449ed6;
}

.containerForm .form .text3 {
  margin-top: -10px;
  width: 100%;
  text-align: center;
  color: black;
}


.containerRegister {
  display: flex;
  flex-direction: row;
}
.containerForm {
  height: 100vh;
  width: 50vw;
  color: aliceblue;
  margin-top: -50px;
  display: flex;
  justify-content: start;
}

.containerImg {
  height: 100vh;
  background-color: #105C8C;
  width: 50vw;
}

.containerImg img {
  margin-top: 80px;
  width: 30vw;
  height: 30vh;
}

.form {
  margin-left: 40px;
  color: black;
}